*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.nav-1 ul li select {
  border:none;
  height: 20px;
  margin-left: 150px;
  background-color: rgb(219, 253, 255);

}
.nav-1 ul li  {
  display: inline-block;
  margin-top: 15px;
  vertical-align: middle;


}

.contact-us{
  text-decoration: none;
  color: black;
}
.nav-1{
  list-style: none;
  height: 50px;
  width: 100%;
  background-color: rgb(219, 253, 255);
  border-bottom: 1.5px solid black;
}
  #search{
  margin-left: 500px;
}
.nav-1 ul li #bordo,#bordo1{
  border: 1.5px solid black;
  border-radius: 4px;
}
.navv-1{
  width: 100%;
  margin: auto;
  line-height: 60px;
}
.nav-1{
  width: 100%;
  margin: auto;
}
.navv-1 ul li  {
  /* display: inline-block; */
  vertical-align: middle;



}
.navv-1 ul li img {
vertical-align: middle;
  display: inline-block;

}
#bordo{
  margin-left: 20px;
  background-color: orange;
  color: #fff;
  padding: 4px;
  text-decoration: none;


}
#bordo1{
  margin-left: 20px;
  background-color:#fff;
  color: orange;
  padding: 4px;
  text-decoration: none;
}
nav ul li  {
  display: inline-block;
}
 .img{
  margin-left: 150px;
  margin-top: 15px;

}
nav{
  list-style: none;
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1.5px solid black;
}
#cars-1{
  border:none;
  height: 20px;
  margin-left: 400px;
}
#cars-2{
    border:none;
    padding: 0px 10px;

}
/* fine nav */
/* hero */
.hero{
  background-image: url(../img/jumbotron.png);
  height: 600px;
  background-size: contain;
  position: relative;

}
.titolo{
  width: 38%;
  position: absolute;
  top: 50px;
  left:100px;
}
h1{
  font-size: 40px;
  line-height: 50px;
}
h4{
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
    font-size: 14px;
}
.titolo a{
  border-radius: 8px;
  background-color: orange;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}
.titolo p{
  padding-top: 30px;
    font-size: 13px;
}
.color-azz{
  width: 100%;
  height: 100px;
  background-color:rgb(195, 244, 239);
  position: relative;
  top: -10px;
  border-top: 2px  solid black;
  border-bottom: 2px  solid black;
}
.cubo-r{
  text-align: center;
  margin: auto;
  width: 70%;
}
h3{
  line-height: 40px;
}
.cubo-r p{
  line-height: 30px;
}
.btn-l{
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  background-color: orange;
  margin-top: 15px;
}
.libro-2{
  text-align: center;
  width: 30%;
  height: auto;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 30px;
  position: absolute;
  top: 10px;
  display: inline-block;


}
.learn-m{
  width: 68.3%;
  margin: auto;
  height: 200px;
  background-color: #fff;
  position: relative;
  border:0.5px solid grey;
  top: 40px;

}
.libro-2 ul li {
  text-decoration: none;
  list-style: none;
}
.scrittee{
display: inline-block;
  width: 70%;
position:absolute;
left: 250px;
top: 30px;
}
.check{
  color: orange;
}
.scrittee ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.scrittee p{
  line-height: 22px;
}
.i3col{
width: 70%;
height: 400px;

margin: auto;
position: relative;
top: 65px;
}
.col1{
  width: calc(92% / 3);
  display: inline-block;
  margin: auto;
  text-align: center;
  padding:0px 15px;
  border:0.5px solid grey;
  margin:0px 10px;
}
.col1 ul li {
  color: orange;
  padding: 3px;
  list-style: none;
  margin-bottom: 10px;
}


.col ul li #aaa{
  text-align: left;
}

/* sfondo bluu */
.sf-blu{
  background: rgb(11,95,133);
background: linear-gradient(90deg, rgba(11,95,133,1) 0%, rgba(30,143,180,1) 0%, rgba(24,255,226,1) 100%);
position: relative;
top: 200px;
}

.sfondo-blu{
  padding:20px;
  margin: auto;
  width: 75%;
  text-align: center;

}
.i8tab{
display: inline-block;
}
.i1tab{
  border-right: 2px solid #fff;
}
.cv{
  border-bottom:  2px solid #fff;
}
.acca2{
  padding-bottom: 30px;
  color: #fff;
}






.donna-cinese{
  width:70%;
  height:150px;
  position:relative;
  top:250px;
  margin: auto;

}
.customer{
width: 35%;
display: inline-block;
margin: 50px 50px 0px 100px;
position: absolute;
bottom: 10px;
}
.ottotab{
  display: inline-block;
  position: absolute;
  left: 500px;
}

.start1{
  width: calc(92% / 3);
  display: inline-block;
  margin: auto;
  padding:0px 15px;

  position: relative;
  top: 340px;
  left: 200px;
}
.start1 a{
  padding:8px;
  background-color: orange;
  border-radius: 5px;
  text-decoration: none;
}
.start11{
  line-height: 30px;
  margin-bottom: 20px;
}
.start12{
  line-height: 30px;
  margin-top: 30px;
  font-size: 10px;
}
.foto-woman{
  position: absolute;
  left: 800px;

}
