*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.nav-1 ul li select {
  border:none;
  height: 20px;
  margin-left: 150px;
  background-color: rgb(219, 253, 255);
}
.nav-1 ul li  {
  display: inline-block;
  margin-top: 15px;


}
.contact-us{
  text-decoration: none;
  color: black;
}
.nav-1{
  list-style: none;
  height: 50px;
  width: 100%;
  background-color: rgb(219, 253, 255);
  border-bottom: 1.5px solid black;
}
  #search{
  margin-left: 500px;
}
.nav-1 ul li #bordo,#bordo1{
  border: 1.5px solid black;
  border-radius: 4px;
}
#bordo{
  margin-left: 20px;
  background-color: orange;
  color: #fff;
  padding: 4px;
  text-decoration: none;


}
#bordo1{
  margin-left: 20px;
  background-color:#fff;
  color: orange;
  padding: 4px;
  text-decoration: none;
}
nav ul li  {
  display: inline-block;
}
 .img{
  margin-left: 150px;
  margin-top: 15px;

}
nav{
  list-style: none;
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1.5px solid black;
}
#cars-1{
  border:none;
  height: 20px;
  margin-left: 400px;
}
#cars-2{
    border:none;
    padding: 0px 10px;

}
/* fine nav */
/* hero */
.hero{
  background-image: url(../img/jumbotron.png);
  height: 600px;
  background-size: contain;
  position: relative;

}
.titolo{
  width: 38%;
  position: absolute;
  top: 50px;
  left:100px;
}
h1{
  font-size: 40px;
  line-height: 50px;
}
h4{
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
    font-size: 14px;
}
.titolo a{
  border-radius: 8px;
  background-color: orange;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}
.titolo p{
  padding-top: 30px;
    font-size: 13px;
}
.color-azz{
  width: 100%;
  height: 100px;
  background-color:rgb(195, 244, 239);
  position: relative;
  top: -10px;
  border-top: 2px  solid black;
  border-bottom: 2px  solid black;
}
.cubo-r{
  text-align: center;
  margin: auto;
  width: 70%;
}
h3{
  line-height: 40px;
}
.cubo-r p{
  line-height: 30px;
}
.btn-l{
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  background-color: orange;
  margin-top: 15px;
}
.libro-2{
  text-align: center;
  width: 30%;
  height: auto;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 30px;
  position: absolute;
  top: 10px;
  display: inline-block;


}
.learn-m{
  width: 68.3%;
  margin: auto;
  height: 200px;
  background-color: #fff;
  position: relative;
  border:0.5px solid grey;
  top: 40px;

}
.libro-2 ul li {
  text-decoration: none;
  list-style: none;
}
.scrittee{
display: inline-block;
  width: 70%;
position:absolute;
left: 250px;
top: 30px;
}
.check{
  color: orange;
}
.scrittee ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.scrittee p{
  line-height: 22px;
}
.i3col{
width: 70%;
height: 400px;

margin: auto;
position: relative;
top: 65px;
}
.col1{
  width: calc(92% / 3);
  display: inline-block;
  margin: auto;
  text-align: center;
  padding:0px 15px;
  border:0.5px solid grey;
  margin:0px 10px;
}
.col1 ul li {
  color: orange;
  padding: 3px;
  list-style: none;
  margin-bottom: 10px;
}


.col ul li #aaa{
  text-align: left;
}
